# Default: Deny
*

!/docs/
!/docs/*
/docs/.vitepress/cache/
/docs/.vitepress/dist/
/docs/node_modules/
/docs/public/

!/src/
!/src/*
!/syntaxes/
!/syntaxes/*

# Root config
!/*.json
!/*.ts
!/*.mjs
!/*.cjs

# Lockfiles
package-lock.json
